In [1]:
import pandas as pd
import psycopg2

In [2]:
conn = psycopg2.connect(host='localhost', dbname='demo', user='postgres', password='12345', port=5432)

In [3]:
df = pd.read_csv('crypto_data.csv')

In [4]:
df

             name symbol    price_usd  market_cap_usd  volume_24h_usd
0         Bitcoin    BTC  20193.08000    3.863670e+11     37844037961
1        Ethereum    ETH   1498.95000    1.830700e+11     23122015977
2          Tether   USDT      1.00000    6.755213e+10     55282835398
3        USD Coin   USDC      1.00000    5.221297e+10      8541606069
4             BNB    BNB    283.24000    4.563534e+10      1098036803
..            ...    ...          ...             ...             ...
95    XDC Network    XDC      0.02771    3.409759e+08         4281181
96      GateToken     GT      4.34000    3.407087e+08         3591653
97       Compound   COMP     46.68000    3.369838e+08       100781636
98     Theta Fuel  TFUEL      0.06167    3.269048e+08        62538225
99  yearn.finance    YFI   8893.49000    3.258371e+08        61988204

[100 rows x 5 columns]

In [5]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:12345@localhost:5432/demo')

In [6]:
df.to_sql('crypto', engine, if_exists='replace', index=False)

100